<h1>Demande de modification de mot de passe</h1>

<p>
    Une demande a été faite pour modifier votre mot de passe. CLiquez sur le lien pour modifier votre mot de passe.<br><br>
    <a href="{{ url ~ "?timestamp="~timestamp"&token=" ~ csrf_token('_valid_email_recovery_password_token_value') }}">Confirmer</a>.
</p>

<p>
    Cheers!
</p>
