{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endfor %}
    {% if app.user.verified == false %}
        <p>Vous devez activer votre compte en cliquant sur le lien envoyé par mail ! (no-reply@fresh.app)</p>
        <a href="{{ path('app_resend_registration_confirmation_email') }}">Cliquez pour renvoyer un lien
            d'activation</a>
    {% else %}
    {% endif %}
{% endblock %}
