{% extends 'base.html.twig' %}

{% block title %} Fresh !{% endblock %}

{% block body %}
    <div class="text-center">
        {% if email is defined %}
            <h1>Envoyer un e-mail pour retrouver votre mot de passe !</h1>

            <form action="{{ path('app_recovery_password') ~ '?email=' ~ email ~ '&_send_email_token=' ~ csrf_token('_send_email_token_value') }}">
                <input type="email" value="{{ email }}" name="email">
                <button type="submit">Envoyer !</button>
            </form>
        {% else if token is defined %}
        <h1 class="font-bold text-3xl mb-5">Modification de mot de passe</h1>

        <form action="{{ path('app_recovery_password') }}" method="post">
            <input type="password" name="plain-password">
            <input type="password" name="valid-password">
        <button type="submit" class="btn btn-lg btn-primary mt-5 mb-5">MODIFIER !</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
