{% extends 'base.html.twig' %}

{% block title %}Fresh ! Nouveau Frigo{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <button><a href="{{ path('app_main') }}">Retour</a></button>
{% endblock %}
